html, body {
  margin-top: 3em; }

.navbar h1 {
  margin-left: 4em;
  color: white; }

#main .row {
  margin-left: 4em;
  margin-right: 0; }

.days {
  margin-left: auto;
  margin-right: auto; }

.day {
  border: solid 1px black;
  border-radius: 4px;
  padding: 0px;
  height: 5em;
  background: -webkit-radial-gradient(circle, #d6d6d6, white);
  margin-right: 0.5em;
  text-align: center;
  color: gray; }
  .day .dayHeader {
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: -webkit-center;
    height: 2em;
    line-height: 2em; }
  .day:last-child {
    margin-right: 0; }
  .day .dayPart {
    min-height: 1.4em; }
    .day .dayPart:hover {
      background-color: black;
      color: white;
      cursor: pointer; }
